@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(135deg, #0080809d 10%, #f3c6c6 100%);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100vh;
  @media screen and (max-width: 480px) {
  }
}

img {
  max-width: 100%;
}

.app {
  background-color: linear-gradient(135deg, #398fc0 10%, #ff9fb5 100%);
  width: 110%;
  height: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid rgba(113 119 144 / 25%);
  padding: 0 30px;
  white-space: nowrap;
  @media screen and (max-width: 480px) {
    padding: 0 16px;
  }
}
.header.header-menu {
  display: flex;
  align-items: center;
}
.header-menu a {
  padding: 20px 30px;
  text-decoration: none;
  color: rgb(113 119 144 / 78%);
  border-bottom: 2px solid transparent;
  transition: 0.3s;

  @media screen and (max-width: 610px) {
    &:not(.main-header-link) {
      display: none;
    }
  }
}
.header-menu.is-active,
.header-menu:hover {
  color: #f9fafb;
  border-bottom: 2px solid #f9fafb;
}

.search {
  background: rgba(68, 68, 68, 0.37);
  background: rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.219);
  margin: 150px auto;
  margin-left: 40%;
  border-radius: 3px;
  border: 1px solid #fff;
  float: left;
}
input {
  width: 58%;
  padding: 10px 5px;
  float: left;
  color: rgb(0, 0, 0);
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
  border: #000;
}

button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  height: 40px;
  width: 120px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: #ffffff67;
  border-radius: 2px;
  float: right;
}
button:hover {
  color: #ffffff;
  background-color: #978a8a2c;
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: -90px;
  flex-shrink: 0;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f9fafb;
  margin-left: 22px;
}

.wide .header-menu {
  display: none;
}
.wide .header-profile {
  display: none;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-side {
  flex-basis: 240px;
  border-right: 1px solid rgba(113 119 144 / 25%);
  padding: 26px;
  overflow: auto;
  flex-shrink: 0;
  @media screen and (max-width: 945px) {
    display: none;
  }
}

.side-wrapper + .side-wrapper {
  margin-top: 20px;
}

.side-title {
  color: rgba(167, 0, 139, 0.78);
  margin-bottom: 14px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.side-menu a {
  text-decoration: none;
  color: var(--theme-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.img-content {
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin: 0;
}

/*
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(1 2 3 / 40%);
  border-radius: 10px;
}*/

table {
  width: 90%;
  margin-top: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.356);
  position: relative;
  max-height: fit-content;
  margin-top: -10px;
}

th {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
  width: 30%;
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(238, 238, 238, 0.767);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button {
  height: 45px;
  width: 1000px;
  margin-top: 10px;
}
.button input {
  height: 100%;
  width: 70%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15%;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #8f97ffce;
  background-image: 250deg, #aeaff5 0%;
}
.button input:hover {
  /* transform: scale(0.99); */
  background-color: darkorchid;
}

.button1 {
  height: 45px;
  width: 800px;
  margin: 35px 0;
  border-radius: 10px;
  background-color: rgb(144, 144, 228);
}
.button1 a {
  text-decoration: none;

  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 50;
  margin-left: 15%;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: none;
}
.button1 a:hover {
  /* transform: scale(0.99); */
  color: red;
}
.input-box {
  height: 52px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: -3px;
  width: 90%;
  outline: none;
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-bottom-width: 2px;
  background-color: #ffffff00;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.356);
}

.button3 {
  position: relative;
  float: right;
  border: 0;
  padding-left: 10px;
  height: 40px;
  width: 80px;
  padding-right: 30px;
  font-size: 18px;
  background-color: #5b6dbbb7;
  padding-top: 4px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.button3 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}
a:hover {
  color: rgb(202, 52, 52);
  font-weight: 500px;
}
