<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>SignUp client</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'clientReg.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>

        <nav class="navbar">
            <div class="logo"><img src="{% static 'banner.png' %}" alt="neat site banner" width="200" height="60"></div>
            <br> <br><br>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
               

            </ul>
            <br>

        </nav>
        <div class="container">

            <div class="title">Client Registration</div>
            <div class="content">
                <form  method="post">
                    {% csrf_token %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}  
                    <div class="input-box">
                        <span class="details">Name</span>
                        {{Cleintform.cl_name}}
                    </div>
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Username</span>
                            {{Userform.username}}
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            {{Userform.email}}
                        </div>
                        <div class="input-box">
                            <span class="details">Phone Number</span>
                           {{Cleintform.cl_phn_no}}
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            {{Userform.password1}}
                        </div>
                        <div class="input-box">
                            <span class="details">Confirm Password</span>
                            {{Userform.password2}}
                        </div>
                        
                    </div>
                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </header>
</body>

</html>