<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Salon Owner</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'salonowner.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="{% static 'banner.png' %}"
                         alt="neat site banner"
                         width="200"
                         height="60">
                </div>
                <span>Hello,{{ request.user }}</span>
                <div class="button3">
                    <a href="{% url 'logout' %}" class="button" role="button">Logout</a>
                </div>
            </nav>
            <div class="services" id="deletebtn">
                <h1>Salon's Service</h1>
                <button class="add-service">
                    <a href={% url 'service' %}>Add Service</a><i class="fa fa-plus"></i>
                </button>
                <form method="post">
                    {% csrf_token %}
                    {% for service in services %}
                        <div class="service-row">
                            <div class="row-data">
                                <h3>{{ service }}</h3>
                                <span>
                                    <strong>Price:</strong>{{ service.s_price }} Tk
                                </span>
                                <span>
                                    <strong>Time Take:</strong> {{ service.s_ehour }} Hour {{ service.s_emin }} Min
                                </span>
                                <br>
                                <small>{{ service.s_about }}</small>
                                <hr>
                            </div>
                            <div class="delete-button">
                                <input class="btn btn-dark btn-del" 
                                       type="button"
                                       data-sid="{{ service.id }}"
                                       value="Delete"
                                       style="margin-top:-50px;">
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <h1>Salon's Appointment</h1>
            <h2>Pending</h2>
            <form method="post" id="pending">
                {% csrf_token %}
                {% for appoint in appoints %}
                    {% if appoint.a_status == 'Pending' %}
                        <div class="service-row">
                            <div class="row-data">
                                <span> <strong>Client:</strong>{{ appoint.a_client }} </span>
                                <br>
                                <span> <strong>Services:</strong> </span>
                                {% for service in appoint.a_service.all %}<span>{{ service }},</span>{% endfor %}
                            </div>
                            <div class="tool-button " >
                                <input class="btn btn-primary btn-ac"
                                       type="button"
                                       data-sid="{{ appoint.id }}#1"
                                       value="Accept"
                                       style="margin-top:-100px;">
                                <input class="btn btn-primary btn-ac"
                                       type="button"
                                       data-sid="{{ appoint.id }}#3"
                                       value="Reject"
                                       style="margin-top:-100px;">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <h2>Accepted</h2>
                <div class="row-service">
                    {% for appoint in appoints %}
                    {% if appoint.a_status == 'Accept' %}
                        <div class="service-row">
                            <div class="row-data">
                                <span> <strong>Client:</strong>{{ appoint.a_client }} </span>
                                <br>
                                <span> <strong>Services:</strong> </span>
                                {% for service in appoint.a_service.all %}<span>{{ service }},</span>{% endfor %}
                            </div>
                            <div class="tool-button">
                                <input class="btn btn-primary btn-ac"
                                       type="button"
                                       data-sid="{{ appoint.id }}#2"
                                       value="Done"
                                       style="margin-top:-50px;">
                                <input class="btn btn-primary btn-ac"
                                       type="button"
                                       data-sid="{{ appoint.id }}#4"
                                       value="Absent"
                                       style="margin-top:-50px;">
                            </div>
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                
            </form>
        </header>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        {% include 'ajaxsalonOwner.html' %}
    </body>
</html>
