<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Salon list</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'salon.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="topnav">
                <div class="logo">
                    <img src="{% static 'banner.png' %}"
                         alt="neat site banner"
                         width="200"
                         height="60">
                </div>
                <div class="header-profile">
                    <img class="profile-img" src="{% static 'person.jpg' %}" alt="person">
                    <span> &nbsp Hello,{{ request.user }}</span>
                </div>
                <div class="search-container">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Search.." name="search" id="searchkey">
                        <button type="button" id="searchbtn">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" id="resetbtn">X</button>
                    </form>
                </div>
                <div class="button1">
                    <a href="{% url 'logout' %}" class="button" role="button">Logout</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="head"
                 style="padding-top: 10px;
                        padding-bottom: 10px;
                        text-align: center;">
                <hr>
            </div>
            <style>
                tr:hover { 
                    background: rgba(255, 255, 255, 0.199); 
                 }
                th a { 
                    display: block; 
                    padding: 16px; 
                    text-decoration:none;
                 }
            </style>
            <table class="table table-striped">
                <thead id="thead">
                    {% for salon in salons %}
                        <tr>
                            <th class="a" scope="col">
                                <a href="{% url 'salon' salon.id %}">{{ salon.sal_name }}</a>
                            </th>
                            <th class="a" scope="col">
                                <a href="{% url 'salon' salon.id %}">{{ salon.sal_adr }}</a>
                            </th>
                            <th class="a" scope="col">
                                <a href="{% url 'salon' salon.id %}">{{ salon.type }}</a>
                            </th>
                        </tr>
                    {% endfor %}
                </thead>
            </table>
        </header>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        {% include 'ajaxSalon.html' %}
    </body>
</html>
