<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'clientReg.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'banner.png' %}"
                     alt="neat site banner"
                     width="200"
                     height="60">
            </div>
            <div class="header-profile">
                <span>Hello,{{request.user}}</sapn>
                </div>
            <ul class="menu">
                <ul class="menu">
                    <li>
                        <a href="{%url 'SalonOwner'%}">Salon Page</a>
                    </li>
                </ul>
                
                <br>
            </ul>
        </div>
        
                <div class="button3">
                    <a href="{% url 'logout' %}" class="button" role="button">Logout</a>
                </div>
          
    </nav>
        <div class="container">
            <div class="title">Add Service</div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %} 
                    <div class="input-box">
                        <span class="details">Name</span>
                        {{Serviceform.s_name}}
                    </div>
                    <div class="input-box">
                        <span class="details">Price</span>
                        {{Serviceform.s_price}}
                    </div>
                    <div class="input-box">
                        <span class="details">Estimated Time</span><br>
                        {{Serviceform.s_ehour}} {{Serviceform.s_emin}}
                    </div>
                    <div class="input-box">
                        <span class="details">About</span>
                        {{Serviceform.s_about}}
                    </div>
                    <div class="button">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </header>
</body>
</html>