<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'singlesalon.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Salon Services</title>
    </head>
    <body>
        <div class="app">
            <div class="header">
                
                <img src="{% static 'banner.png' %}"
                         alt="neat site banner"
                         width="160"
                         height="60">
               
                <span>Hello,{{ request.user }}</span>
                
                <div class="button3">
                    <a href="{% url 'logout' %}" class="button" role="button">Logout</a>
                </div>
                
            </div>
            <div class="wrapper">
                <div class="left-side">
                    <div class="side-wrapper">
                        <div class="side-menu1">
                            <span>{{ salon.sal_name }}</span>
                        </div>
                    </div>
                    <div class="side-wrapper">
                        <div class="side-title">
                            <i class="fas fa-map-marker-alt"></i>Find Us
                        </div>
                        <div class="side-menu">
                            <span>{{ salon.sal_adr }}</span>
                        </div>
                        <input type="hidden" id="salonid" value={{ salon.id }}>
                    </div>
                    <div class="side-wrapper">
                        <div class="side-title">
                            <i class="fa fa-phone"></i> Call us
                        </div>
                        <div class="side-menu">
                            <span>{{ salon.sal_phn_no }}</span>
                        </div>
                    </div>
                    <div class="side-wrapper">
                        <div class="side-title">
                            <i class="fas fa-clock"></i> Opening Time
                        </div>
                        <div class="side-menu">
                            <span>{{ salon.sal_otime }}</span>
                        </div>
                        <div class="side-title">
                            <i class="fas fa-clock"></i> Closing Time
                        </div>
                        <div class="side-menu">
                            <span>{{ salon.sal_ctime }}</span>
                        </div>
                    </div>
                </div>
                <div class="main-container">
                    <h3>Services</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="service-row">
                            {% for service in services %}
                                <details>
                                    <summary>
                                        <table class="table table-striped">
                                            <thead id="serbody">
                                                <th scope="col">{{ service }}</th>
                                                <th scope="col">{{ service.s_price }}TK</th>
                                                <th scope="col">{{ service.s_ehour }}H {{ service.s_emin }}M</th>
                                                <th scope="col">
                                                    <label class="container">
                                                        <input type="checkbox"
                                                               id="{{ service.id }}"
                                                               name="check1"
                                                               value="{{ service.id }}">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                            </thead>
                                        </table>
                                    </summary>
                                    <p>
                                        <li>{{ service.s_about }}</li>
                                    </p>
                                </details>
                            {% endfor %}
                        </div>
                    </form>
                    <div class="button4">
                        <input type="button" value="Add To Service Cart" id="servicebtn">
                    </div>
                    <div class='taken' id='deletebtn'>
                        <h3>Service Cart</h3>
                        {% if not cart %}
                            <br>
                            <br>
                        {% endif %}
                        <input type="hidden" id="cartid" value="{{ cart.id }}">
                        <div id="whatever">
                            {% for c in cart.c_service.all %}
                                <table class="table table-striped">
                                    <thead>
                                        <th scope="col">{{c}}</th>
                                        <th scope="col">{{ c.s_price }}TK</th>
                                        <th scope="col">{{ c.s_ehour }}H {{ c.s_emin }}M</th>
                                        <th>
                                            <input class="btn btn-primary btn-del"
                                                   type="button"
                                                   data-sid="{{ c.id }}"
                                                   value="Delete">
                                        </th>
                                    </thead>
                                </table>
                            {% endfor %}
                        </div>
                        {% if not appoint %}
                            <div class="button">
                                <input type="button" value="Appointment Request" id="appointmentbtn">
                            </div>
                        {% endif %}
                        <div class='taken'>
                            <h3>Taken Services</h3>
                            <div class="lowerpart">
                                {% for a in appoint.a_service.all %}
                                    <table class="table table-striped">
                                        <thead>
                                            <th scope="col">{{a}}</th>
                                            <th scope="col">{{ a.s_price }}TK</th>
                                            <th scope="col">{{ a.s_ehour }}H {{ a.s_emin }}M</th>
                                        </thead>
                                    </table>
                                {% endfor %}
                                <br>
                                <div class="input-box">
                                    <span class="details">Total Price:{{ appoint.a_total_price }} TK</span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Total Time: {{ appoint.a_ehour }}H {{ appoint.a_emin }}M</span>
                                </div>
                                <div class="input-box">
                                    <span class="details" id="waittime" value="{{ wait_time }}">Waiting Time:{{ wait_time }}MIN</span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Status:{{ appoint.a_status }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/popper.js' %}"></script>
            {% include 'ajaxsinglesalon.html' %}
        </body>
    </html>
