<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{AppointmentForm}}
</head>
<body>
    
</body>
</html>

<p>{{service.id}} || {{service}} || {{service.s_price}} || {{service.s_ehour}}h {{service.s_emin}}m || {{service.s_about}}---<input type="checkbox" id="{{service.id}}" name="check" value="{{service.id}}" checked></p>